.notFoundDiv {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 42px;
  font-weight: 700;
  color: darkgreen;
  text-align: center;
}

.notFoundDiv::before {
  content: "404";
  font-size: 96px;
  font-weight: 800;
  color: lightgreen;
  margin-bottom: 10px;
}
