
.robot-chat-message {
  display: flex;
  justify-content: start;
  align-items: start;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.user-chat-message {
  display: flex;
  justify-content: end;
  align-items: start;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.chat-message-text {
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  color: black;
  padding: 10px 20px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 300px;
}

.chat-message-profile {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  object-fit: cover;
}

.welcome-message {
  color: rgb(120, 120, 120);
  text-align: center;
}

.loading-spinner {
  height: 40px;
  margin: -15px;
}
.chat-message-time {
  font-size: 14px;
  color: rgb(125, 125, 125);
  margin-top: 5px;
  margin-left: 15px;
  display: block;
}